<div class="container">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <form name="Recomendation">
    <div class="panel panel-default">
      <div class="panel-heading">Post a Shift Covering Request</div>
      <div class="input-group">

        <input type="name" name="name" class="form-control custom-control" required minlength="4" ng-model="main.name" placeholder="Employee name">
        </input>

        <div class="alert alert-warning" role="alert" ng-show="Recomendation.name.$touched && Recomendation.name.$invalid">
          <strong>Warning!</strong> The title is required and has to be longer than 4 characters.
        </div>

        <input type="name" name="name2" class="form-control custom-control" required minlength="4" ng-model="main.name2" placeholder="Covering employee">
        </input>

        <div class="alert alert-warning" role="alert" ng-show="Recomendation.name2.$touched && Recomendation.name2.$invalid">
          <strong>Warning!</strong> The requested employee is required and has to be longer than 4 characters.
        </div>

        <input type="name" name="role" class="form-control custom-control" required minlength="4" ng-model="main.role" placeholder="Shift role">
        </input>

        <div class="alert alert-warning" role="alert" ng-show="Recomendation.role.$touched && Recomendation.role.$invalid">
          <strong>Warning!</strong> The role is required and has to be longer than 4 characters.
        </div>

        <input type="time" name="time" class="form-control custom-control" ng-model="main.startTime" required></input>
        <div class="alert alert-warning" role="alert" ng-show="Recomendation.duration.$touched && Recomendation.time.$invalid">
          <strong>Warning!</strong> The start time is required.
        </div>

        <input type="date" name="date" class="form-control custom-control" ng-model="main.date" required></input>
        <div class="alert alert-warning" role="alert" ng-show="Recomendation.duration.$touched && Recomendation.date.$invalid">
          <strong>Warning!</strong> The date is required.
        </div>

        <input type="number" name="duration" max="10" min='3' class="form-control custom-control" ng-model="main.duration" placeholder="Enter shift duration (hrs)" required></input>
        <div class="alert alert-warning" role="alert" ng-show="Recomendation.duration.$touched && Recomendation.duration.$invalid">
          <strong>Warning!</strong> The duration is required and must be less than 10 and greater than 3.
        </div>

        <span name="button" class="input-group-addon btn btn-primary" ng-click="main.postMessage()" ng-disabled="!Recomendation.$valid">Post</span>
      </div>
    </div>
  </form>


  <!-- <center>
    <p>The input's valid state is:</p>
    <h1>{{Recomendation.$valid}}</h1>
  </center> -->

  <div class="panel panel-default">
    <div class="panel-heading">Pending requests</div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="message in main.messages">
        <b>Employee:</b> {{message.name}}
        <br>
        <b>Covering Employee:</b> {{message.name2}}
        <br>
        <b>Role:</b> {{message.role}}
        <br>
        <b>Start Time:</b> {{message.startTime}}
        <br>
        <b>Date:</b> {{message.date}}
        <br>
        <b>Duration:</b> {{message.duration}}
        <br>
        <button id="buttonid" name="buttonid" class="btn btn-success" ng-show="!message.approved">Approve</button>
        <button id="buttonid" name="buttonid" class="btn btn-warning" ng-show="!message.approved">Edit</button>

        <button id="button2id" name="button2id" class="btn btn-danger" ng-show="!message.approved">Delete</button>
      </li>
    </ul>
  </div>

</div>
